<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samarretes NBA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0
.0/css/bootstrap.min.css">
  <script src="../scripts/Afegir.js"></script>
  <script src="../scripts/Logic.js"></script>
  <link rel="stylesheet" type="text/css" href="cataleg.component.css" title="style">
</head>
<body>
  <div class="comprar">
    <br>
    <button id="buto_bulls" value="Bulls" class="button_categoria">Bulls</button>
    <button id="buto_bucks" value="Bucks" class="button_categoria">Bucks</button>
    <br>
    <br>
  </div>
    <div class="contenidor1">
      <div id="contenidor1">
        <img id = "img1" alt="samarreta" class="bucks" src="../../assets/samarretabucks.png">
        <img id = "img2" alt="samarreta" class="bucks" src="../../assets/bufanda_buks.jpg">
        <img id = "img3" alt="samarreta" class="bucks" src="../../assets/pijama_bucks.png">
        <br>
        <ng-container *ngFor ="let producte of productes">
        <p class="p_bucks">Preu {{producte["nom"]}}:
          <span id = "preu_1">{{this.producte["preu"]}}</span>€
        </p>
        </ng-container>
        <br>
        <br>
        <button (click)="addCart(1)" id = "b_comprar_1" class="b_comprar">Comprar</button>
        <button (click)="addCart(2)" id = "b_comprar_2" class="b_comprar">Comprar</button>
        <button (click)="addCart(3)" id = "b_comprar_3" class="b_comprar">Comprar</button>
      </div>
      <div id = "contenidor2">
        <br>
        <br>
        <img id = "img4" class="bulls" src="../../assets/samarretabulls.png">
        <img id = "img5" class="bulls" src="../../assets/calzoncillos_bulls.jpg">
        <img id = "img6" class="bulls" src="../../assets/mascota_bulls.jpeg">
        <ng-container *ngFor ="let producte2 of productes2">
          <p class="p_bulls">Preu {{producte2["nom"]}}:
            <span id = "preu_2">{{this.producte2["preu"]}}</span>€
          </p>
        </ng-container>
    <br>
        <br>
    <button (click)="addCart(4)" id = "b_comprar_4" class="b_comprar">Comprar</button>
    <button (click)="addCart(5)" id = "b_comprar_5" class="b_comprar">Comprar</button>
    <button (click)="addCart(6)" id = "b_comprar_6" class="b_comprar"> Comprar</button>
    <br>
        <br>
    </div>
  <br>
  <br>
  <br>
  <br>
    </div>
</body>
</html>
