<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samarretes NBA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0
.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="cataleg.component.css" title="style">
</head>
<body>
  <div class="comprar">
    <br>
    <button id="buto_bulls" value="Bulls" class="button_categoria">Bulls</button>
    <button id="buto_bucks" value="Bucks" class="button_categoria">Bucks</button>
    <br>
    <br>
  </div>
    <div class="contenidor1">
      <div id="contenidor1">
        <img alt="samarreta" class="bucks" src="../../assets/samarretabucks.png">
        <img alt="samarreta" class="bucks" src="../../assets/bufanda_buks.jpg">
        <img alt="samarreta" class="bucks" src="../../assets/pijama_bucks.png">
        <br>
        <br>
        <p class="p_bucks">Preu :
          <span id = "preu_1"></span>€
        </p>
        <button class="b_comprar">Comprar</button>
        <button class="b_comprar">Comprar</button>
        <button class="b_comprar">Comprar</button>
        <br>
        <br>
        <img alt="samarreta" class="bulls" src="../../assets/samarretabulls.png">
        <img alt="samarreta" class="bulls" src="../../assets/calzoncillos_bulls.jpg">
        <img alt="samarreta" class="bulls" src="../../assets/mascota_bulls.jpeg">
          <p class="p_bulls">Preu :
            <span id = "preu_2"></span>€
          </p>

    <button class="b_comprar">Comprar</button>
    <button class="b_comprar">Comprar</button>
    <button class="b_comprar">Comprar</button>
    <br>
    </div>
  <br>
  <br>
  <br>
  <br>
    </div>
</body>
</html>
