<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samarretes NBA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0
.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="cataleg.component.css" title="style">
</head>
<body>
  <a href="index.html"><img class="logo" src="../../assets/logo.png"></a>
  <header>
    <h1>Samarretes NBA</h1>
  </header>
  <div class="equips">
    <aside>
      <h3>Conferencia Est</h3>
      <label><input type="checkbox" value="Bucks"> Bucks </label>
      <br>
      <label><input type="checkbox" value="Bulls"> Bulls </label>
      <br>
      <label><input type="checkbox" value="Celtics"> Celtics </label>
      <br>
      <label><input type="checkbox" value="Nets"> Nets </label>
      <br>
      <h3>Conferencia Oest</h3>
      <label><input type="checkbox" value="Lakers"> Lakers </label>
      <br>
      <label><input type="checkbox" value="Warriors"> Warriors </label>
      <br>
      <label><input type="checkbox" value="Mavericks"> Mavericks </label>
      <br>
      <label><input type="checkbox" value="Grizzlies"> Grizzlies </label>
    </aside>
  </div>
  <div class="fotos">
    <div class="contenidor1">
      <img class="bucks" src="../../assets/samarretabucks.png">
      <br>
      <p>Primera equipació dels Milwauke Bucks
        <br>
        Talles disponibles: M | L | XL | XXL</p>
      <br>
      <a class="btn btn-primary" href="https://www.nbastore.eu/es/milwaukee-bucks/milwaukee-bucks-nike-icon-edition-swingman-jersey-green-giannis-antetokounmpo-unisex/t-47705238+p-0170360487763+z-8-3991150240?_ref=p-SRP:m-GRID:i-r0c0:po-0" role="button">Comprar</a>

    </div>

    <div class="contenidor2">
      <img class="bulls" src="../../assets/samarretabulls.png">
      <br>
      <p>Primera equipació dels Chicago Bulls
        <br>
        Talles disponibles: M | L | XL | XXL
      </p>
      <br>
      <a class="btn btn-primary" href="https://www.nbastore.eu/es/chicago-bulls/chicago-bulls-nike-icon-edition-swingman-jersey-red-zach-lavine-unisex/t-25256278+p-12366993430382+z-9-1114091688?_ref=p-SRP:m-GRID:i-r0c1:po-1" role="button">Comprar</a>
    </div>
    <div class="contenidor3">
      <img class="gsw" src="../../assets/samarretagsw.png">
      <br>
      <p>Primera equipació dels Golden Satate Warrios
        <br>
        Talles disponibles: M | L | XL | XXL
      </p>
      <br>
      <a class="btn btn-primary" href="https://www.nbastore.eu/es/golden-state-warriors/golden-state-warriors-nike-icon-edition-swingman-jersey-royal-stephen-curry-unisex/t-14147318+p-4547925954812+z-8-1798000114?_ref=p-SRP:m-GRID:i-r0c1:po-1" role="button">Comprar</a>
    </div>
    <div class="contenidor4">
      <img class="lakers" src="../../assets/samarretalakers.png">
      <br>
      <p>Primera equipació dels Lakers
        <br>
        Talles disponibles: M | L | XL | XXL
      </p>
      <br>
      <a class="btn btn-primary" href="https://www.nbastore.eu/es/los-angeles-lakers/los-angeles-lakers-nike-icon-edition-swingman-jersey-gold-lebron-james-unisex/t-36586380+p-01697015753603+z-9-359281767?_ref=p-SRP:m-GRID:i-r0c0:po-0" role="button">Comprar</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  </body>
</html>
