<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Samarretes NBA</title>
<link rel="stylesheet" type="text/css" href="contacte.component.css" title="style">
</head>
<body>
<a href="index.html"><img class="logo" src="logo.png"></a>
<form class="form-contact">
  <h3>Contacta amb nosaltres</h3>
  <input  class="controls"type="email" name="correu" id="correu" placeholder="Ingresi el seu Correu">
  <input class="controls" type="text" name="assumpte" id="assumpte" placeholder="Ingresi l'assumpte">
  <input class="controls" type="text" name="missatge" id="missatge" placeholder="Ingresi el seu Missatge">
  <input type="submit" value="Envia" class="button">
</form>
</body>
</html>
