<div class="body_principal">
  <a href="menu.component.html"><img class="logo" alt="logo" src="../../assets/logo.png"></a>
  <header>
    <h1>Samarretes NBA</h1>
    <div class="username" *ngIf="isLogged">{{username}}</div>
  </header>
  <nav>
    <ul class="menu_principl">
      <li class="li_1"><a href="../index">Principal</a></li>
      <li class="li_2"><a href="../cataleg">Catàleg</a></li>
      <li class="li_3"><a href="../registre">Registre</a></li>
      <li class="li_4"><a href="../cistella">Cistella</a></li>
      <li class="li_5"><a href="../condicions">Condicions</a></li>
      <li class="li_6"><a href="../contacte">Contacte</a></li>
      <li class="li_7"><a href="../login">Login</a></li>
      <button *ngIf="isLogged" (click)="logOut()">Logout</button>
    </ul>
  </nav>
</div>
