body_principal{
  height: 80%;
}


.logo{
  float: left;
  width: 4%;
  margin: 0.2% 0 0 35%;
}

header {
  background-color: blue;
  height: 3rem;
}

.logo:hover{
  background: linear-gradient(blue, red);
}

ul li {
  float:left;
  width: 13.00%;
}


ul {
  background: red;
  border: 1px solid #7C7C7C;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #333;
  display: block;
  padding: .3em;
  text-decoration: none;
  border-left: 1px solid #FFF;
  border-right: 1px solid #7C7C7C;
}


li:hover{
  background: linear-gradient(blue, red);
}

ul{
  overflow: hidden;
  text-align: center;
}

button {
  cursor: pointer;
  background: red;
}

button:hover {
  background: linear-gradient(blue, red);
}

.username {
  float: right;
  padding-right: 5%;
  font-size: 17px;
  font-family: "Arial Black";

}
