<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samarretes NBA</title>
  <link rel="stylesheet" type="text/css" href="cistella.component.css" title="style">
</head>
  <body class="body_principal">
  <div class="comprar">
    <div class="contenidor1">
      <img class="bucks" src="../../assets/samarretabucks.png">
      <br>
      <p>Preu Samarreta Bucks: 79,99€
        <br>
      </p>
      <button value="-"></button><input id="prod_cant" type="text" name="num_productes" value="Número de productes"><button value="+"></button>
    </div>
    <div class="contenidor2">
      <img class="bulls" src="../../assets/samarretabulls.png">
      <br>
      <p>Preu Samarreta dels Bulls: 79,99€
        <br>
      </p>
      <br>
      <br>
    </div>
    <div class="=total">
      <aside>
        <div class="total">
          <p>Preu total de compra és: 159,98€</p>
          <label><input type="radio" value="">He llegit i accepto les condicions</label>
          <br>
          <br>
          <a class="btntotal" href="" role="button">Comprar</a>
        </div>
      </aside>
    </div>
  </div>
  </body>
</html>
