<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samarretes NBA</title>
  <link rel="stylesheet" type="text/css" href="index.component.css" title="style">
</head>
  <body class="body_principal">
    <h1 class="p_principal">
      Pàgina principal
    </h1>
    <img src="../../assets/equips_nba.jpeg" alt="equips" class="tots_equips">
    <p class="qfem">
      Som dos aficionats a la NBA els quals tenim com a objectiu donar a coneixer les diferentes i variades samarretes de la NBA.
    </p>
    <p class="qfem">
      Disposem de samarretes de tot tipus, city edition, primeres equipacions, segones equipacions,...
    </p>
    <h2 class="h2_principal">
      Novetats
    </h2>
    <img src="../../assets/suns_city.jpeg" alt="suns_city" class="suns_city">
    <p class="text_suns">
      La nova adquisició amb la que disposem és la samarreta de Devin Booker amb els suns, es tracta de la city edition
    </p>
    <p class="text_suns">
      Es considera per molts de les millors samarretes de la nba per el seu bonic disseny i el que van aconseguir la temporada en la que duien aquest mateixa
    </p>
    <p class="text_suns">
      Moltes més samarretes com aquestés a: <a href="cataleg.component.html">Catàleg</a>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
