<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samarretes NBA</title>
  <link rel="stylesheet" type="text/css" href="registre.component.css" title="style">
</head>
<body>
<form class="form-register">
  <h3>Registra't a la nostre pàgina</h3>
  <input  class="controls"type="text" name="noms" id="noms" placeholder="Ingresi el seu Nom">
  <input class="controls" type="text" name="cognom" id="cognom" placeholder="Ingresi el seu Cognom">
  <input #forViewChild class="controls" type="adress" name="adreça" id="adreça" placeholder="Ingresi la seva adreça">
  <input class="controls" type="tel" name="telefon" id="telefon" placeholder="Ingresi el seu telèfon">
  <input class="controls" type="password" name="contrasenya" id="contrasenya" placeholder="Ingresi la contrasenya per registrar-se">
  <input type="submit" value="Registra't" class="button" >
</form>
</body>
</html>
